@font-face {
	font-family: 'Inter';
	src: url('vendor/fonts/Inter-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('vendor/fonts/Inter-Bold.otf');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'Scania Sans CY';
	src: url('vendor/fonts/ScaniaSansCY-Regular.eot');
	src: url('vendor/fonts/ScaniaSansCY-Regular.eot?#iefix') format('embedded-opentype'),
	url('vendor/fonts/ScaniaSansCY-Regular.woff') format('woff'),
	url('vendor/fonts/ScaniaSansCY-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter';
	src: url('vendor/fonts/Inter-Regular.otf');
	font-weight: normal;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
body {
	font-family: "Inter", sans-serif;
	font-size: 14px;
	color: #333333;
	position: relative;
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
	color: #333333;
}
a:hover {
	text-decoration: none;
	color: #60A031;
}
h1 {
	margin: 0;
}
ol,
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
input::placeholder {
	font-size: 14px;
	text-align: left;
	color: #333;
}
.wrap {
	background: #fff;
}
.container {
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
}
/* header */
.header_top {
	background-color: #FBFBFB;
	border-bottom: 1px solid #EEEEEE;
}
.header_top_logo {
	padding: 10px 0;
	flex: 1;
}
.header_top_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header_bottom_content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.header_bottom_menu ul {
	display: flex;
	flex-direction: row;
}
.header_bottom_menu ul li {
	padding-right: 60px;
	position: relative;
}
.header_bottom_menu ul li a {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 16px;
	line-height: 19px;
	color: #454D40;
	position: relative;
	padding: 20px 0;
	display: flex;
}
.header_bottom_menu ul li a:hover {
	color: #60A031;
}
.header_bottom_menu ul li a.dropdown::after {
  position: absolute;
  width: 8px;
  height: 5px;
  content: '';
  right: -17px;
  top: 28px;
  background-image: url(img/header_bottom_bottom.svg);
}
.header_bottom {
	background-color: #fff;
	border-bottom: 1px solid #EEEEEE;
}
.header_top_adress, .header_top_phone {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.header_top_adress {
	padding-right: 40px;
}
.header_top_phone {
	position: relative;
}
.header_top_adress_img, .header_top_phone_img, .header_top_account_img {
	width: 26px;
	height: 26px;
	background-repeat: no-repeat;
}
.header_top_adress_img {
	background-image: url(img/header_top_location.svg);
}
.header_top_phone_img {
	background-image: url(img/header_top_phone.svg);
}
.header_top_account_img {
	background-image: url(img/header_top_login.svg);
}
.header_top_account a {
	padding: 20px;
	display: flex;
	align-items: center;
	background-color: #F7F7F7;
}
.header_top_text {
	padding-left: 6px;
	color: #828282;
	font-size: 14px;
	font-family: "Scania Sans CY", sans-serif;
}
.header_search_form input {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 36px;
  outline: none;
  border: none;
  color: #000;
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  background-color: transparent;
	font-size: 14px;
	font-weight: normal;
}
.header_bottom_search {
	position: relative;
}
.header_search_form .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  transition: all 1s;
  z-index: 4;
	cursor: pointer;
}
.header_search_form .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 7px;
  right: 0;
  bottom: 0;
  left: 7px;
  width: 7px;
  height: 2px;
  background: rgba(189, 189, 189, 0.5);;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.header_search_form .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid rgba(189, 189, 189, 0.5);;
  transition: all 0.5s;
}
.header_search_form input:focus {
	width: 300px;
	opacity: 1;
	cursor: text;
	border: 1px solid #E0E0E0;
	padding: 13px 16px;
	border-radius: 3px;
	right: 60px;
}
.dropdown_menu ul {
	display: flex;
	flex-direction: column;
}
.dropdown_menu {
	padding: 0;
	border: none;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
	top: 60px!important;
	padding-top: 10px;
}
.dropdown_menu ul li {
	padding: 0!important;
}
.dropdown_menu ul li a {
	padding: 13px 16px;
	color: #6EA72C;
	font-size: 16px;
	display: flex;
	border-bottom: 1px solid #F3F3F3;
}
.dropdown_menu ul li a:last-child {
	border-bottom: none;
}
.dropdown_menu ul li a:hover {
	background-color: #6EA72C;
	color: #fff;
}
.header_bottom_menu ul li a.hover::before {
	content: '';
	display: flex;
	position: absolute;
	width: calc(100% + 20px);
	height: 2px;
	bottom: 0;
	background-color: #6EA72C;
}
.dropdown_menu_phone {
  top: 63px!important;
  left: 0!important;
	width: 240px;
}
.dropdown_menu_phone ul li a {
	font-size: 14px;
	color: #454D40;
}
.dropdown_menu_phone ul li {
	border-bottom: 1px solid #F3F3F3;
}
/* bread */
.breadcrumb {
	background-color: #FBFBFB;
	padding-top: 32px;
	padding-bottom: 32px;
	border-bottom: 1px solid #eee;
	font-family: "Scania Sans CY", sans-serif;
	font-size: 15px;
	color: #AFAFAF;
}
.breadcrumb_inner a {
	color: #AFAFAF;
	font-family: "Scania Sans CY", sans-serif;
}
.breadcrumb_inner a:hover {
	color: #60A031;
}
/* slider */
.slider {
	position: relative;
}
.slider_content {
	background-color: #FFF8E7;
	height: 400px;
	display: flex;
	align-items: flex-end;
}
.slider_content_title {
	max-width: 620px;
}
.slider_content_title h1 {
	font-family: "Inter", sans-serif;
	font-size: 26px;
	font-weight: bold;
	color: #333;
	margin-bottom: 40px;
}
.slider_inner {
	height: 400px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms;
}
.slider_inner.slick-initialized {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms;
}
.slider_content_block {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-around;
  padding-bottom: 53px;
}
.slider_zoom {
  width: 1000px;
  height: 400px;
  text-align: center;
  background: none;
  -webkit-animation: zoomin 20s ease-in infinite;
  animation: zoomin 20s ease-in infinite;
  transition: all .5s ease-in-out;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 83% 23%;
  position: absolute;
	top: 0;
}
@-webkit-keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.3);}
  100% {transform: scale(1);}
}
@keyframes zoomin {
  0% {transform: scale(1);}
  50% {transform: scale(1.3);}
  100% {transform: scale(1);}
}
@-webkit-keyframes zoomout {
  0% {transform: scale(1);}
  50% {transform: scale(0.67);}
  100% {transform: scale(1);}
}
@keyframes zoomout {
    0% {transform: scale(1);}
  50% {transform: scale(0.67);}
  100% {transform: scale(1);}
}
.slider_content_nav a {
	background: #60A031;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	font-family: "Scania Sans CY", sans-serif;
	padding: 10px 30px;
}
.slider_content_url {
  position: absolute;
  bottom: 46px;
  right: 0;
  display: flex;
  flex-direction: row;
}
.slider_content_url_count {
  padding-right: 32px;
  display: flex;
  align-items: center;
}
.slider_content_url_count span {
	font-size: 22px;
	font-family: "Scania Sans CY", sans-serif;
	color: #FFFFFF;
	text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
}
.slider_content_url_arrow {
	display: flex;
	flex-direction: row;
	border: 1px solid #DDDDDD;
	border-radius: 5px;
}
.slider_arrow_left {
	width: 48px;
	height: 48px;
	border-radius: 5px 0 0 5px;
	display: flex;
	position: relative;
}
.slider_arrow_left img {
  width: 10px;
  height: 16px;
  position: absolute;
  left: 19px;
  top: 16px;
}
.slider_arrow_right {
	width: 48px;
	height: 48px;
	border-radius: 0 5px 5px 0;
	display: flex;
	position: relative;
}
.slider_arrow_right img {
	width: 10px;
	height: 16px;
	position: absolute;
	right: 19px;
  top: 16px;
}
.slider_content_url_arrow .slick-arrow svg path {
	fill: #fff;
}
.slider_content_url_arrow .slick-arrow.slick-disabled svg path {
	fill: #BDBDBD;
}
.slider_content_url_arrow .slick-arrow.slick-disabled {
	background-color: #fff;
}
.slider_content_url_arrow .slick-arrow {
	background-color: #60A031;
}
.slider_nav_continer {
	max-width: 1120px;
	width: 100%;
	margin: 0 auto;
	position: relative;
}

/* title */
.section_title {
	display: flex;
	flex-direction: row;
	padding-bottom: 32px;
}
.section_title h2 {
	color: #333333;
	font-family: "Scania Sans CY", sans-serif;
	font-size: 26px;
	line-height: 24px;
	font-weight: normal;
	margin: 0;
}
.section_title a {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 16px;
	line-height: 24px;
	text-decoration-line: underline;
	color: #60A031;
}
.section_line {
	content: '';
	display: flex;
	height: 24px;
	width: 1px;
	background-color: #DFDFDF;
	margin-left: 14px;
	margin-right: 14px;
}
/* news */
.news {
	padding-top: 60px;
	padding-bottom: 30px;
}
.news_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -16px;
	margin-right: -16px;
}
.big_news {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	flex-direction: row;
}
.big_news_img {
	width: 65%;
}
.big_news_img a img {
	border-radius: 5px;
}
.big_news_content {
	width: 35%;
	padding-left: 32px;
}
.big_news_content a h3 {
	font-family: "Inter";
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.5;
	color: #333333;
	margin-top: 0;
	margin-bottom: 24px;
}
.big_news:hover h3 {
	color: #60A031;
}
.big_news_desc {
	font-size: 16px;
	line-height: 1.5;
	color: #333333;
}
.news_date span {
	font-size: 14px;
	color: #97A4B1;
}
.small_news {
	width: 33.3333%;
	padding-left: 16px;
	padding-right: 16px;
}
.news_line {
	content: '';
	width: 100%;
	height: 1px;
	margin-left: 16px;
	margin-right: 16px;
	margin-top: 32px;
	margin-bottom: 32px;
	background-color: #eee;
	display: flex;
}
.news_content a h3 {
	margin-top: 0;
}
.service {
	background-color: #F5F5F5;
	padding-top: 32px;
}
.service_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -16px;
	margin-right: -16px;
}
.service_block {
	width: 50%;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 32px;
}
.service_block a {
	display: flex;
	flex-direction: row;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #EFEFEF;
	transition: box-shadow 0.3s ease-in-out;
}
.service_desc {
	width: 50%;
	padding: 38px 18px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.service_desc h3 {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
	color: #333333;
}
.service_desc span {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: #A2A2A2;
}
.service_img {
	width: 50%;
	position: relative;
}
.service_img::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 0px 4px 4px 0px;
	left: 0;
	top: 0;
	background: -webkit-linear-gradient(0, #FFFFFF -3.02%, rgba(255, 255, 255, 0) 100%);
	background: -moz-linear-gradient(0, #FFFFFF -3.02%, rgba(255, 255, 255, 0) 100%);
	background: -o-linear-gradient(0, #FFFFFF -3.02%, rgba(255, 255, 255, 0) 100%);
	background: linear-gradient(0, #FFFFFF -3.02%, rgba(255, 255, 255, 0) 100%);
	transition: opacity 0.3s ease-out;
	opacity: 1;
}
.service_img img {
	width: 100%;
}
.service_block a:hover {
	border: 1px solid #EFEFEF;
	box-sizing: border-box;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.service_block a:hover .service_img::after {
	opacity: 0;
}
.contact {
	padding-top: 64px;
	padding-bottom: 87px;
}
.contact_inner {
	border: 1px solid #EEEEEE;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 28px 32px;
	width: 788px;
	font-family: "Scania Sans CY", sans-serif;
}
.contact_inner h3 {
	margin-top: 0;
	font-family: "Scania Sans CY", sans-serif;
	font-size: 24px;
	color: #60A031;
	font-weight: normal;
}
.contact_top {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -16px;
	margin-right: -16px;
}
.footer_bottom {
	padding-top: 42px;
	padding-bottom: 44px;
}
.contact_block {
	width: 33.3333%;
	display: flex;
	flex-direction: column;
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 32px;
}
.contact_block span, .contact_bottom span {
	font-size: 18px;
	color: #333333;
	margin-bottom: 20px;
}
.contact_block input, .contact_bottom input {
	border: none;
	outline: none;
	font-size: 14px;
	height: 34px;
  width: 100%;
  padding: 7px 0 !important;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f39314), to(#f39314)), -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#e0e0e0));
  background-image: -webkit-linear-gradient(#f39314, #f39314), -webkit-linear-gradient(#e0e0e0, #e0e0e0);
  background-image: -o-linear-gradient(#f39314, #f39314), -o-linear-gradient(#e0e0e0, #e0e0e0);
  background-image: linear-gradient(#f39314, #f39314), linear-gradient(#e0e0e0, #e0e0e0);
	border: none;
  background-size: 0 2px, 100% 1px;
  background-repeat: no-repeat;
  background-position: center bottom, center -webkit-calc(100% - 1px);
  background-position: center bottom, center calc(100% - 1px);
  -webkit-transition: background 0s ease-out;
  -o-transition: background 0s ease-out;
  transition: background 0s ease-out;
}
.contact_form input::placeholder {
	font-size: 17px;
	color: #828282;
}
.contact_bottom {
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
}
.contact_check {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.contact_check label {
	font-size: 16px;
	color: #333333;
	margin-right: 17px;
}
.contact_check input {
	border: 1px solid #DDDDDD;
	box-sizing: border-box;
	border-radius: 2px;
	position: relative;
	background-color: #F1F1F1;
	width: 16px;
	height: 16px;
	outline: none;
}
.contact_check:checked:after {
  background: #f39314;
  color: #99a1a7;
  content: '';
  height: 6px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 6px;
}
.contact_submit {
	display: flex;
	justify-content: flex-end;
}
.contact_submit input {
	background: #60A031;
	border-radius: 5px;
	padding: 10px 27px;
	border: none;
	cursor: pointer;
	font-size: 14px;
	text-align: center;
	color: #FFFFFF;
	transition: box-shadow 0.3s ease-in-out;
}
.contact_submit input:hover {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
.footer {
	background-color: #2B2A29;
}
.footer_top_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: "Scania Sans CY", sans-serif;
}
.footer_top_block span {
	font-size: 16px;
	color: #fff;
}
.footer_top_block a {
	color: #60A031;
	font-size: 16px;
	margin-left: 5px;
}
.footer_top_block {
	width: 25%;
	display: flex;
	flex-direction: row;
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer_top_block:last-child {
	width: 50%;
	justify-content: flex-end;
}
.footer_social {
	display: flex;
	flex-direction: row;
}
.footer_social li a {
	display: flex;
}
.footer_social li {
	margin-left: 5px;
}
.footer_bottom_menu li {
	margin-bottom: 14px;
}
.footer_bottom_menu li a {
	color: #888888;
}
.footer_bottom_menu li a:hover {
	color: #fff;
}
.footer_top {
	border-bottom: 1px solid #484848;
}
.footer_bottom_menu > li > a {
	font-size: 18px;
	color: #FFFFFF;
	margin-bottom: 14px;
	display: flex;
}
.footer_bottom_block {
	width: 25%;
}
.footer_bottom_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer_footer_copyright_top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.footer_map {
	font-size: 16px;
	color: #fff;
}
.footer_map_text_2 a {
	color: #60A031;
	border-bottom: 1px solid #60A031;
}
.footer_map_text_2 a:hover {
	border: none;
}
.footer_copyright_bottom {
	font-size: 16px;
	color: #888888;
}
.footer_copyright_bottom a {
	font-size: 16px;
	color: #888888;
	margin-left: 32px;
}
.footer_copyright {
	padding-top: 28px;
	padding-bottom: 55px;
	border-top: 1px solid #484848;
}
.footer_map_text_1 {
  color: #fff;
  margin-right: 40px;
  display: flex;
  align-items: center;
}
.footer_map_text_1 img {
	margin-right: 6px;
}
.footer_map {
	padding-bottom: 32px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.footer_search_form .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 7px;
  right: 0;
  bottom: 0;
  left: 7px;
  width: 7px;
  height: 2px;
  background: rgba(189, 189, 189, 0.5);
  transform: rotate(45deg);
  transition: all 0.5s;
}
.footer_search_form .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 2px solid rgba(189, 189, 189, 0.5);
  transition: all 0.5s;
}
.footer_search_form .search {
    position: absolute;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 36px;
    height: 36px;
    transition: all 1s;
    z-index: 4;
}
.footer_search_form input {
    margin: auto;
    width: 350px;
    padding: 8px 12px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 16px;
    font-weight: normal;
		background-color: #262524;
}
.footer_search {
	position: relative;
}
.dropdown_mobile {
	width: 100%;
	border: none;
	padding: 0;
	top: 50px!important;
}
.dropdown_mobile .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
	border: none;
	background-image: url(img/header_arrow_bottom.png);
	width: 8px;
	height: 5px;
}
.dropdown_mobile ul > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
	font-size: 14px;
	border-bottom: 1px solid #E9E9E9;
	padding: 18px 17px!important;
}
.dropdown_mobile ul > li > a img {
	margin-right: 10px;
}
.dropdown_mobile ul li ul.submenu {
	background-color: #F5F5F5;
}
.dropdown_mobile {
	font-family: "Scania Sans CY", sans-serif;
}
.dropdown_mobile ul li ul.submenu li a {
	padding: 15px 17px!important;
	border-bottom: none;
}
.header_map_mobile {
	color: #60A031;
}
.mobile_search_form {
	padding: 20px 17px;
}
.mobile_search_form input[type=submit] {
  background-image: url(img/header_search.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  outline: none;
  border: none;
  background-color: transparent;
}
.mobile_search_form {
  padding: 20px 17px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.mobile_search_form input[type=search] {
	padding-left: 10px;
	outline: none;
  border: none;
}
.mobile_search_form input[type=search]::placeholder {
	color: #BDBDBD;
}
.mobile_search_form {
	border-bottom: 1px solid #E9E9E9;
}
.news_list {
	width: 100%;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	flex-direction: column;
}
.news_list_block {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 32px;
	margin-bottom: 32px;
	border-bottom: 1px solid #eee;
}
.news_list_img {
	width: 260px;
}
.news_list_desc {
	flex: 1;
}
.news_list_date {
	font-size: 16px;
	color: #97A4B1;
}
.news_list_desc {
	padding-left: 32px;
}
.news_list_img img {
	border-radius: 5px;
	width: 100%;
	height: 192px;
}
.news_list_desc a h3 {
	margin-top: 18px;
	font-size: 20px;
	font-weight: 600;
	color: #383838;
}
.news_list_desc a h3:hover {
	color: #17A24C;
}
.news_list_nav {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.news_list_nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.news_list_nav ul li {
	padding-left: 9px;
	padding-right: 9px;
}
.news_list_nav ul li a {
	width: 34px;
	height: 34px;
	background-color: #F7F7F7;
	border-radius: 50%;
	display: flex;
	align-content: center;
	justify-content: center;
	color: #4F4F4F;
	padding: 5px;
}
.news_list_nav ul li a.active, .news_list_nav ul li a:hover {
	color: #fff;
	background-color: #50B878;
}
.news_list_nav_left span, .news_list_nav_right span {
	color: #BDBDBD;
	font-size: 16px;
	padding: 5px;
}
.news_list_nav_left a, .news_list_nav_right a {
	background-color: transparent!important;
	color: #BDBDBD!important;
	font-size: 16px;
	margin-left: 18px;
	margin-right: 18px;
}
.news_list_nav_left.active a, .news_list_nav_right.active a {
	color: #50B878!important;
}
.back_url {
  margin-top: 32px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
	font-size: 18px;
	color: #17A24C;
}
.back_url img {
	margin-right: 8px;
}
.news_page {
	padding-bottom: 140px;
}
.news_page h1 {
	font-weight: 600;
	font-size: 32px;
	color: #333333;
	padding-bottom: 32px;
	margin-bottom: 32px;
	border-bottom: 1px solid #eee;
}
.news_page_anonce {
	font-size: 18px;
	color: #333;
	padding-bottom: 10px;
}
.page_top_img_slide {
	height: 560px;
	position: relative;
	overflow: hidden;
}
.page_top_img_slide img {
	width: 100%;
	height: 560px;
	border-radius: 5px;
}
.news_page_slider {
	height: 680px;
	overflow: hidden;
	margin-bottom: 12px;
}
.page_top_img {
	margin-bottom: 12px;
}
.page_bot_img_slide {
	width: 125px!important;
	margin-right: 15px;
}
.page_bot_img .slick-slide {
	width: 125px!important;
	margin-right: 12px;
}
.page_bot_img .slick-slide:hover {
	cursor: pointer;
}
.page_bot_img_slide {
	border-radius: 5px;
}
.page_bot_img_slide img {
	border-radius: 5px;
}
.slick-slide.slick-current.slick-active .page_bot_img_slide {
	border-radius: 5px;
	border: 2px solid #17A24C;
	position: relative;
}
.slick-slide.slick-current.slick-active .page_bot_img_slide::after {
	content: '';
	display: flex;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	position: absolute;
}
.page_bot_img,
.page_top_img {
	visibility: hidden;
	overflow: hidden;
	opacity: 0;
	transition: visibility 0s linear 300ms, opacity 300ms;
}
.page_bot_img.slick-initialized,
.page_top_img.slick-initialized {
	visibility: visible;
	opacity: 1;
	transition: visibility 0s linear 0s, opacity 300ms;
}
.page_bot_img .slick-track {
	width: 100%!important;
}
.news_page_slider_text {
	font-size: 16px;
	color: #828282;
}
.news_share {
	padding-top: 32px;
	padding-bottom: 32px;
	border-bottom: 1px solid #eee;
}
.news_share > span {
	font-size: 16px;
	padding-bottom: 20px;
	color: #828282;
	display: flex;
}
.news_desc_container {
	max-width: 737px;
	margin: 0 auto;
	font-size: 16px;
	color: #383838;
	padding-top: 16px;
	padding-bottom: 128px;
}
.news_list_next_content {
	padding-top: 64px;
	border-top: 1px solid #eee;
}
.news_list_next_content h2 {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 26px;
	color: #333333;
	font-weight: 400;
}
.news_list_next_inner {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -16px;
	margin-right: -16px;
	padding-top: 16px;
}
.burger_mobile, .footer_bottom_url, .news_list_nav_left a img, .news_list_nav_right a img {
	display: none;
}
.page h1 {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 26px;
	color: #333333;
	font-weight: 400;
	margin-top: 32px;
	margin-bottom: 32px;
}
.page {
	padding-bottom: 100px;
}
.contact_news_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
}
.contact_block {
	font-family: "Scania Sans CY", sans-serif;
}
.phone {
	font-family: "Inter", sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #17A24C;
	font-size: 26px;
}
.phone_title {
	font-size: 14px;
	line-height: 14px;
	color: #AFAFAF;
	font-family: "Scania Sans CY", sans-serif;
	margin-bottom: 14px;
}
.contact_news_block {
	display: flex;
	flex-direction: column;
	width: 33.3333%;
	padding-left: 16px;
	padding-right: 16px;
}
.phone_text {
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #17A24C;
	margin-top: 7px;
}
.phone_email {
	font-size: 24px;
	color: #17A24C;
}
.phone_adress {
	font-size: 16px;
	color: #454D40;
	line-height: 28px;
	margin-bottom: 8px;
}
.contact_map {
	padding-left: 16px;
	padding-right: 16px;
	margin-top: 30px;
	width: 100%!important;
}
.contact_map iframe {
	width: 100%!important;
	border: none!important;
}
.services_desc_text {
	display: flex;
	flex-direction: column;
}
.services_desc {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-bottom: 32px;
}
.services_desc_img {
	width: 146px;
}
.services_desc_text {
	padding-left: 32px;
	flex: 1;
}
.services_desc_text h3 {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 20px;
	color: #17A24C;
	margin-top: 0;
	margin-bottom: 12px;
}
.services_desc_text span {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 14px;
	color: #AFAFAF;
}
.services_desc_text p {
	color: #333;
}
.services_block h3 {
	font-size: 20px;
	color: #333333;
	margin-top: 0;
	margin-bottom: 18px;
}
.services_block_desc {
	font-size: 15px;
	color: #AFAFAF;
}
.services_block_url {
  font-size: 15px;
  color: #AFAFAF;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.services_block {
	width: 50%;
	padding-left: 16px;
	padding-right: 16px;
	padding-bottom: 16px;
	padding-top: 16px;
}
.services_block a {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.services_list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: -16px;
	margin-right: -16px;
}
.services_block_border {
	border: 1px solid #eee;
	display: flex;
	flex-direction: column;
	position: relative;
	border-radius: 5px;
	padding: 18px;
	transition: box-shadow 0.3s ease-in-out;
}
.services_block_border:hover {
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
}
.services_block_border:hover h3, .services_block_border:hover .services_block_url {
	color: #17A24C;
}
.services_block_url img {
	margin-left: 8px;
}
.services_docs ul {
	display: flex;
	flex-direction: column;
}
.services_docs ul li a {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.services_docs_img {
	width: 25px;
}
.services_docs_desc {
	flex: 1;
	padding-left: 16px;
	margin-top: 0;
	font-size: 14px;
	color: #AFAFAF;
}
.services_docs_desc p {
	margin-top: 0;
}
.services_docs ul li {
	margin-bottom: 32px;
}
.services_title {
	font-size: 20px!important;
}
.services_docs ul li a:hover .services_docs_desc {
	color: #17A24C;
}
.input-group-button button {
  outline: none;
  height: 32px;
	width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.input-group-button .plus {
	border-radius: 0 5px 5px 0;
}
.input-group-button .minus {
	border-radius: 5px 0 0 5px;
	background-color: #17A24C;
	border-right: 1px solid #eee;
}
.plus-minus-input {
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  border: 1px solid #eee;
  box-sizing: border-box;
	width: 99px;
  border-radius: 5px;
	margin-left: 20px;
}
.input-group-button button svg {
	fill: #fff;
}
.input-group-button button.disabled svg {
	fill: #C1C1C1;
}
.input-group-button .plus {
	background-color: #17A24C;
}
.input-group-button {
	width: 32px;
}
.plus-minus-input .input-group-field ::-webkit-outer-spin-button,
.plus-minus-input .input-group-field::-webkit-inner-spin-button {
	-webkit-appearance: none;
	appearance: none;
}
.plus-minus-input .input-group-field {
  text-align: center;
  margin-left: 6px;
  margin-right: 6px;
  padding: 0;
  flex: none;
  display: block;
  width: 21px;
  border: none;
  outline: none;
  box-shadow: none;
  font-weight: 700;
}
.calc {
	display: flex;
	flex-direction: column;
	width: 640px;
	border-radius: 5px;
	border: 1px solid #eee;
	padding: 32px;
}
.calc h3 {
	font-family: "Scania Sans CY", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	color: #17A24C;
	margin-top: 0;
}
.calc_title {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 18px;
	color: #B2B2B2;
	margin-bottom: 32px;
}
.calc .label_form {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
	align-items: center;
	margin-bottom: 16px;
	position: relative;
	cursor: pointer;
	font-size: 16px;
	color: #333333;
}
.calc input[type="radio"] {
	display: none;
}
.last_calc {
	margin-top: 50px;
}
.calc .label_form::before {
	content: '';
	display: flex;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	border: 1px solid #D7D7D7;
	margin-right: 16px;
}
.calc input:checked + label::after {
  background-color: #17A24C;
  content: '';
  display: flex;
  width: 6px;
  height: 6px;
  position: absolute;
  left: 25px;
  border-radius: 50%;
}
.input-group-button .minus.disabled {
	background-color: #fff!important;
}
#option2 {
	margin-bottom: 64px;
}
.calc select {
  margin-bottom: 64px;
  border: none;
  outline: none;
	border-bottom: 2px solid #17A24C;
	padding-bottom: 12px;
	cursor: pointer;
	-moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
	position: relative;
	font-size: 16px;
}
.select_city {
	padding-left: 16px;
	position: relative;
	width: 320px;
}
.calc .select_city::after {
	content: '';
	display: flex;
	position: absolute;
	right: 8px;
	top: 12px;
	width: 8px;
	height: 5px;
	background-image: url(img/select_arrow.png);
	background-repeat: no-repeat;
}
.input_inner {
	display: flex;
	justify-content: flex-end;
	padding-top: 32px;
	margin-top: 32px;
	border-top: 1px solid #eee;
}
.input_inner input {
	border: 1px solid #17A24C;
	box-sizing: border-box;
	border-radius: 5px;
	font-family: "Scania Sans CY", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	text-align: center;
	color: #17A24C;
	background-color: #fff;
	padding: 10px 25px;
	cursor: pointer;
	outline: none;
}
.input_inner input:hover {
	background-color: #17A24C;
	border-color: #fff;
	color: #fff;
}
.form_result {
	display: flex;
	flex-direction: column;
	padding-top: 32px;
	width: 300px;
}
.form_result span {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 20px;
	color: #17A24C;
	padding-bottom: 32px;
}
.form_result input[type=text]::placeholder {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 18px;
	color: #9E9E9E;
}
.form_result input[type=text] {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 18px;
	color: #9E9E9E;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid #eee;
	outline: none;
	padding: 0 0 10px 0;
}
.calc_text {
	padding: 32px;
  background-color: #FBFBFB;
  border-radius: 5px;
	margin-top: 32px;
}
.calc_text a {
  display: flex;
  flex-direction: row;
}
.calc_background a {
	margin-bottom: 32px;
}
.calc_text h3 {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 20px;
	color: #9E9E9E;
	margin-top: 0;
	font-weight: normal;
}
.calc_text a span {
	font-size: 14px;
	color: #AFAFAF;
}
.calc_background h3 {
	color: #333333;
}
.calc_text a:hover span {
	color: #17A24C;
	text-decoration: underline;
}
.calc_text_desc {
	padding-left: 16px;
	display: flex;
	flex-direction: column;
	flex: 1;
}
.calc_text_img {
	width: 25px;
}
.calc_background {
	padding: 0!important;
	background-color: #fff;
}
.accordion_inner .accordion-title {
	padding: 24px;
	background-color: #fff;
	font-family: "Circe", sans-serif;
	font-size: 18px;
	color: #17A24C;
	border-color: #eee;
}
.accordion_inner .accordion-content {
	background-color: #F9F9F9;
	font-family: "Open Sans", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	padding: 24px;
}
.accordion_inner {
	margin-bottom: 64px;
}
.accordion_inner .accordion-content p {
	margin: 0;
}
.faq_text_img {
	width: 64px;
	height: 64px;
	background-color: #17A24C;
	display: flex;
	align-items: center;
	justify-content: center;
}
.faq_text {
	display: flex;
	flex-direction: row;
	padding: 24px;
	background-color: #F9F9F9;
	margin-bottom: 32px;
}
.faq_text_desc {
  display: flex;
  flex-direction: row;
  padding-left: 24px;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}
.faq_title span {
	font-family: "Circe", sans-serif;
	font-size: 17px;
	color: #333333;
	font-weight: bold;
}
.faq_title p {
	color: #333;
	margin-top: 5px;
}
.faq_url a {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 14px;
	text-align: center;
	color: #17A24C;
	border-radius: 5px;
	padding: 10px 13px;
	border: 1px solid #17A24C;
}
.faq_url a:hover {
	background-color: #17A24C;
	color: #fff;
}
.faq_img {
	margin-bottom: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.map {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.map ul {
	width: 25%;
}
.map ul li {
	margin-bottom: 18px;
}
.map ul span {
	font-family: "Scania Sans CY", sans-serif;
	font-size: 22px;
	color: #454D40;
	display: flex;
	margin-bottom: 32px;
}
.map ul li a {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	color: #828282;
}
.map ul li a:hover {
	color: #60A031;
}
@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.header_search_form input:focus {
		width: 220px;
	}
	.footer_top_block span {
    font-size: 14px;
    color: #fff;
	}
	.slider_content_url {
		right: 100px;
	}
}
@media (max-width: 1020px) {
	.big_news_desc, .footer_map, .footer_top {
		display: none;
	}
	.news_list_desc a h3 {
    font-size: 18px;
	}
	.container {
		max-width: 768px;
	}
	.header_bottom_menu ul li {
		padding-right: 30px;
	}
	.header_search_form input:focus {
		width: 180px;
	}
	.services_block {
		padding-left: 8px;
		padding-right: 8px;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.header_search_form input:focus {
		right: 40px;
	}
	.header_bottom_menu ul li a, .footer_copyright_bottom, .footer_copyright_bottom a {
		font-size: 14px;
	}
	.header_top_adress {
    padding-right: 12px;
	}
	.dropdown_menu ul li a {
    padding: 10px 12px;
	}
	.big_news_content {
		padding-left: 15px;
	}
	.big_news_content a h3 {
		font-size: 18px;
	}
	.dropdown_menu {
		width: 250px;
	}
	.service_desc {
		padding: 16px;
	}
	.service_desc h3 {
		line-height: normal;
		font-size: 18px;
		margin-bottom: 10px;
	}
	.service_desc span {
		font-size: 14px;
	}
	.footer_footer_copyright_top {
		flex-direction: column;
	}
	.footer_search_form input {
		width: 100%;
	}
	.footer_search {
		margin-bottom: 36px;
	}
}
@media (max-width: 860px) {
	.container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
	}
	.header_top_adress, .header_top_phone, .header_bottom, .faq_text_img {
		display: none;
	}
	.contact_inner {
    border: none;
    padding: 0;
    width: 100%;
	}
	.burger_mobile {
    display: block;
    width: 49px;
    height: 49px;
    background-color: #60A031;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    background-image: url(img/burger.png);
    background-repeat: no-repeat;
    background-position: center;
	}
	.faq_text_desc {
		padding-left: 0;
	}
	.burger_mobile.hover {
		background-image: url(img/burger_close.png);
	}
	.header_top_logo {
    padding: 0;
    display: flex;
    align-items: center;
		height: 49px;
	}
	.header_top_logo a img {
		height: 40px;
	}
	.slider_content_url {
    right: 16px;
	}
	.contact_news_block {
		width: 100%;
		margin-bottom: 20px;
	}
	.contact_map {
		padding: 0;
	}
	.phone, .phone_email {
		font-size: 20px;
	}
	.phone_adress {
		font-size: 14px;
	}
}
@media (max-width: 768px) {
	.service_block {
		width: 100%;
		margin-bottom: 16px;
	}
	.map ul {
		width: 50%;
	}
	.back_url, .services_block h3 {
		font-size: 16px;
	}
	.service_img {
		display: none;
	}
	.accordion_inner .accordion-title {
		padding: 26px 16px;
	}
	.services_block {
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
	}
	.faq_url {
		display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
	}
	.accordion_inner .accordion-title {
		font-size: 16px;
	}
	.faq_text_desc {
		flex-direction: column;
		align-items: flex-start;
	}
	.calc {
		padding: 0;
		border: none;
		width: 100%;
	}
	.calc_title, .calc .label_form {
		font-size: 14px;
	}
	.page h1 {
		font-size: 20px;
		font-weight: bold;
	}
	.select_city, .form_result {
		width: 100%;
	}
	.calc select {
		margin-bottom: 32px;
	}
	.last_calc {
		margin-top: 20px;
	}
	.calc_title {
		margin-bottom: 20px;
	}
	.calc h3, .form_result span, .calc_text h3 {
		font-size: 18px;
	}
	.input_inner {
		justify-content: center;
	}
	.calc input:checked + label::after {
		left: 5px;
	}
	.calc .label_form, .select_city {
		padding-left: 0;
	}
	.plus-minus-input {
		margin-left: 0;
	}
	.news_page h1 {
    font-size: 20px;
    padding-bottom: 0;
		margin-bottom: 16px;
    border: none;
	}
	.calc_text h3 {
		color: #333;
	}
	.calc_text {
		background-color: #fff;
		padding: 0;
	}
	.news_desc_container {
		padding-left: 16px;
		padding-right: 16px;
	}
	.page_bot_img .slick-slide, .page_bot_img_slide {
    width: 60px!important;
	}
	.page_top_img_slide {
    height: 300px;
	}
	.page_top_img_slide img {
    height: 300px;
	}
	.news_page_slider {
    height: 380px;
	}
	.news_page_anonce {
		font-size: 16px;
	}
	.news_list_desc {
    padding-left: 16px;
	}
	.news_inner .news_line, .services_block_url, .services_desc_img {
		display: none;
	}
	.service_desc {
    padding: 16px;
    justify-content: flex-start;
	}
	.services_block_border {
		padding: 16px;
	}
	.services_block_border {
		background-color: #fff;
	}
	.services_list {
		background-color: #F5F5F5;
		padding-top: 8px;
		padding-bottom: 8px;
	}
	.service_desc h3 {
    line-height: normal;
    font-size: 16px;
    margin-bottom: 10px;
		margin-top: 0;
	}
	.services_desc_text {
		padding-left: 0;
	}
	.services_desc_text h3 {
		font-weight: normal;
		font-size: 18px;
	}
	.service {
    padding-bottom: 16px;
	}
	.big_news {
		flex-direction: column;
	}
	.big_news_content {
		padding-bottom: 16px;
		margin-bottom: 16px;
		border-bottom: 1px solid #eee;
	}
	.big_news_content {
    padding-left: 0;
		padding-top: 16px;
		width: 100%;
	}
	.big_news_img {
    width: 100%;
	}
	.big_news_content a h3 {
		margin-bottom: 16px;
		line-height: normal;
		font-size: 16px;
	}
	.small_news {
		width: 100%;
	}
	.small_news_inner {
		border-bottom: 1px solid #eee;
		padding-bottom: 16px;
		margin-bottom: 16px;
	}
	.news_inner .news_line:last-child, .news_share > span {
		display: none;
	}
	.section_title h2 {
		font-size: 18px;
	}
	.section_title a {
		font-size: 15px;
	}
	.news_page_slider_text {
		font-size: 14px;
	}
	.slider_content_title h1 {
		font-size: 16px;
	}
	.slider_content_url {
    bottom: 200px;
	}
	.news {
    padding-top: 30px;
    padding-bottom: 15px;
	}
	.section_title {
    padding-bottom: 16px;
	}
	.contact {
    padding-top: 30px;
	}
	.contact_inner h3 {
		font-size: 16px;
	}
	.contact_block {
		width: 100%;
	}
	.contact_block span, .contact_bottom span {
    font-size: 16px;
    margin-bottom: 10px;
	}
	.contact_check label {
    font-size: 14px;
	}
	.contact_submit {
    justify-content: center;
    padding-top: 16px;
	}
	.footer_bottom_menu > li > a {
    padding: 15px 16px;
    margin-bottom: 0;
		border-bottom: 1px solid #484848;
	}
	.footer_bottom_block {
		width: 100%;
	}
	.footer_bottom {
		padding: 0;
	}
	.footer_bottom_menu li {
    margin-bottom: 0;
	}
	.footer_bottom .container {
		padding: 0;
	}
	.footer_copyright_bottom {
		display: flex;
		flex-direction: column;
	}
	.footer_copyright_bottom a {
		margin-left: 0;
		margin-top: 8px;
	}
	.footer_bottom_menu li a {
    border-bottom: 1px solid #484848;
    padding: 16px!important;
    display: flex;
		font-size: 14px;
		line-height: normal;
	}
	.footer_bottom_block .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
		background-image: url(img/arrow_top.png);
		background-repeat: no-repeat;
		border: none;
		width: 8px;
		height: 5px;
	}
	.footer_bottom_url {
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	.footer_url {
		padding: 15px 16px;
		border-bottom: 1px solid #484848;
		color: #fff!important;
	}
	.footer_url:last-child {
		border: none;
	}
	.contact_check input {
    width: 26px;
    height: 26px;
	}
	.news_content a h3 {
		font-size: 16px;
	}
	.news_list_desc a h3 {
    font-size: 16px;
    margin-top: 16px;
    margin-bottom: 0;
	}
	.news_list_date {
		font-size: 14px;
	}
	.breadcrumb {
		padding-top: 18px;
		padding-bottom: 18px;
		font-size: 14px;
	}
	.news_page_anonce {
		font-size: 14px;
	}
	.news_share {
    padding-top: 8px;
    padding-bottom: 16px;
	}
	.news_page_slider {
    margin-bottom: 0;
	}
	.news_desc_container {
		padding-top: 0;
		padding-bottom: 16px;
		font-size: 14px;
	}
	.news_list_next_content {
		padding-top: 16px;
	}
	.news_list_next_content h2 {
		font-size: 20px;
	}
	.news_page {
		padding-bottom: 60px;
	}
	.news_page_slider {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
	}
	.page_bot_img {
		padding-left: 16px;
	}
	.page_top_img_slide img {
		border-radius: 0;
	}
	.map ul li a {
		font-size: 15px;
	}
	.map ul span {
		font-size: 18px;
	}
	.map ul span {
		margin-bottom: 26px;
	}
}
@media (max-width: 568px) {
	.news_list_img {
		width: 100%;
	}
	.page_top_img_slide {
    height: 200px;
	}
	.page_top_img_slide img {
    height: 200px;
	}
	.news_page_slider {
    height: 270px;
	}
	.map ul {
		width: 100%;
	}
	.news_list_desc {
		padding: 16px 0 0 0;
	}
	.big_news_img {
    width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
	}
	.big_news_img a img, .news_list_img img {
		border-radius: 0;
		height: 260px;
	}
	.news_list_img {
		width: calc(100% + 32px);
    margin-left: -16px;
    margin-right: -16px;
	}
	.news_list_nav_left span, .news_list_nav_left a, .news_list_nav_right span, .news_list_nav_right a {
		text-indent: -9999px;
		font-size: 0;
		margin: 0;
	}
	.news_list_nav_left a {
		border-radius: 50%;
		border: 1px solid #eee;
		width: 34px;
		height: 34px;
		display: flex;
	}
	.news_list_nav_left a img {
		display: flex;
	}
	.news_list_nav_left a svg {
		fill: #17A24C;
	}
	.news_list_nav_right a {
		background-position: center;
		border-radius: 50%;
		border: 1px solid #eee;
		width: 34px;
		height: 34px;
	}
	.news_list_nav_right a img {
		display: flex;
	}
	.news_list_nav_right a svg {
		fill: #17A24C;
	}
}
